<mat-card class="columns">
    <div class="day-headers">
        <div class="day-header v-hidden"></div>
        <div class="day-header">
            {{ getWeekDateByDay("Monday") }}
        </div>
        <div class="day-header">
            {{ getWeekDateByDay("Tuesday") }}
        </div>
        <div class="day-header">
            {{ getWeekDateByDay("Wednesday") }}
        </div>
        <div class="day-header">
            {{ getWeekDateByDay("Thursday") }}
        </div>
        <div class="day-header">
            {{ getWeekDateByDay("Friday") }}
        </div>
    </div>

    <div class="notes-labels-container">
        <div class="notes-label-row">
            <div class="notes-label-title">
                {{ "Frontend" }}
            </div>
            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>
        </div>

        <div class="notes-label-row">
            <div class="notes-label-title">
                {{ "Backend" }}
            </div>
            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>
        </div>

        <div class="notes-label-row">
            <div class="notes-label-title">
                {{ "Database" }}
            </div>
            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>

            <div class="note-cell">
                <mat-card class="note">
                    <div class="title" matTooltip="workflowItem.title">
                        {{ "workflowItem.title" }}
                    </div>
                    <div
                        class="summary"
                        matTooltip="workflowItem.subtitle"
                        matTooltipPosition="right"
                        matTooltipShowDelay="500"
                        matTooltipHideDelay="0"
                    >
                        {{ "workflowItem.subtitle" }}
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</mat-card>
