<div class="content">
    <mat-card class="columns">
        <div class="day-headers">
            <div class="day-header label-header"></div>
            <div class="day-header borders">
                {{ getWeekDateByDay("Monday") }}
            </div>
            <div class="day-header borders">
                {{ getWeekDateByDay("Tuesday") }}
            </div>
            <div class="day-header borders">
                {{ getWeekDateByDay("Wednesday") }}
            </div>
            <div class="day-header borders">
                {{ getWeekDateByDay("Thursday") }}
            </div>
            <div class="day-header borders">
                {{ getWeekDateByDay("Friday") }}
            </div>
        </div>

        <div class="notes-labels-container">
            <div
                class="notes-label-row"
                *ngFor="let noteLabel of visibleLabels"
            >
                <div class="notes-label-title item">
                    {{ noteLabel.text }}
                </div>
                <div
                    class="note-cell item"
                    [ngClass]="{ 'stacked-notes': dayNotes.length > 1 }"
                    *ngFor="
                        let dayNotes of noteLabel.notesByWeekNumber;
                        let i = index
                    "
                >
                    <app-notes-card
                        *ngFor="let note of dayNotes; let noteIndex = index"
                        [note]="note"
                        [currentWeekNumber]="currentWeekNumber"
                        [weekDay]="i + 1"
                        (onDeleteNote)="onDeleteNote(noteLabel, note, i)"
                    ></app-notes-card>
                </div>
            </div>
        </div>
    </mat-card>
</div>
