:host {
    .content {
        display: flex;
        background-color: #ffffff;
        height: 100%;
    }

    .columns {
        box-shadow: none;
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex: 1 1 auto;
        height: calc(100% - 31px);

        .day-header {
            min-width: 158px;
            flex: 1 1 0px;

            padding: 10px;
            position: relative;
        }

        .item {
            min-width: 158px;
            flex: 1 1 0px;

            min-height: 190px;

            padding: 10px;
            position: relative;
        }

        .notes-label-title {
            display: flex;
            align-items: center;
        }

        .day-headers {
            display: flex;
        }

        .day-header {
            &:nth-child(n + 2) {
                border-right: 0;
                border-bottom: 0;
            }
            &:last-child {
                border-right: 1px solid #000000;
            }
        }

        .notes-label-row {
            display: flex;
            flex: 1 1 0px;
        }

        .notes-labels-container {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }

        .borders {
            border: 1px solid #000000;
        }

        .note-cell {
            &.item {
                border: 1px solid #000000;
            }
        }

        .notes-label-row {
            &:not(:last-child) {
                .note-cell {
                    &:nth-child(n + 2) {
                        border-right: 0;
                        border-bottom: 0;
                    }
                    &:last-child {
                        border-right: 1px solid #000000;
                    }
                }
            }

            &:last-child {
                .note-cell {
                    &:nth-child(n + 2) {
                        border-right: 0;
                    }
                    &:last-child {
                        border-right: 1px solid #000000;
                    }
                }
            }
        }

        .stacked-notes {
            position: relative;

            ::ng-deep {
                app-notes-card {
                    &:nth-child(1) {
                        .note {
                            position: absolute;
                            height: calc(100% - 20px);
                            width: calc(100% - 20px);
                            z-index: 1;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            button {
                                display: none;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .note {
                            position: absolute;
                            height: calc(100% - 40px);
                            width: calc(100% - 40px);
                            z-index: 2;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            button {
                                display: none;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .note {
                            position: absolute;
                            height: calc(100% - 60px);
                            width: calc(100% - 60px);
                            z-index: 3;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            button {
                                display: none;
                            }
                        }
                    }

                    &:last-child {
                        .note {
                            &:hover {
                                cursor: pointer;
                                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                                    rgba(0, 0, 0, 0.12) 0px -12px 30px,
                                    rgba(0, 0, 0, 0.12) 0px 4px 6px,
                                    rgba(0, 0, 0, 0.17) 0px 12px 13px,
                                    rgba(0, 0, 0, 0.09) 0px -3px 5px;
                            }

                            button {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
