.notes-board-header {
    display: flex;
    background: #fafafa;

    .week-switcher {
        display: flex;
        width: calc(100% - 402px);
        gap: 10px;
        align-items: baseline;
        justify-content: center;

        .week-text {
            font-size: 18px;
            font-weight: 500;
        }
    }
}
