.overlap-div-2 {
    z-index: 5;
    width: calc(#{2 * 100}% + 21px);
}

.overlap-div-3 {
    z-index: 6;
    width: calc(#{3 * 100}% + 43px);
}

.overlap-div-4 {
    z-index: 7;
    width: calc(#{4 * 100}% + 63px);
}

.overlap-div-5 {
    z-index: 8;
    width: calc(#{5 * 100}% + 83px);
}

.note {
    height: 100%;

    &:hover {
        cursor: pointer;
    }

    @media (max-width: 1680px) {
        .summary {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &:hover {
            cursor: pointer;
            z-index: 1000;

            .summary {
                overflow: unset;
                text-overflow: unset;
                display: block;
                -webkit-line-clamp: unset;
                -webkit-box-orient: unset;
            }
        }
    }

    .time {
        display: none;

        @media (min-width: 1680px) {
            margin-top: 10px;
            display: block;
        }
    }

    .title {
        display: flex;
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        button {
            position: absolute;
            top: 6px;
            right: -3px;
        }

        .text {
            margin: 2px 5px 0px 5px;
        }
    }

    .number-tag {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-height: 25px;
        min-width: 25px;
        font-size: 14px;
        font-weight: normal;
        background-color: #bbb;
        border-radius: 50%;
    }
}
